                <!--
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${#authorization.expression('!isAuthenticated()')}">
                        <a href="/signin" th:href="@{/signin}">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                        </a>
                    </li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}">
                        <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                        </a>
                        <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                    </li>
                </ul>
                -->

<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mb-0 h1" href="/home">
            <img src="/logo.svg" width="30" height="30" alt="">
            NP Projects
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="projectsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Projects
                    </a>
                    <div class="dropdown-menu" aria-labelledby="projectsDropdown">
                        <a class="dropdown-item" href="/projects">Projects table</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/projects/create">Add new project</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="housesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Houses
                    </a>
                    <div class="dropdown-menu" aria-labelledby="housesDropdown">
                        <a class="dropdown-item" href="/houses">Houses table</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/houses/create">Add new house</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="engineersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Engineers
                    </a>
                    <div class="dropdown-menu" aria-labelledby="engineersDropdown">
                        <a class="dropdown-item" href="/engineers">Engineers table</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/engineers/create">Add new engineer</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

<div th:fragment="footer">
    <footer class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark">
        <div class="container justify-content-md-center">
            <div class="row">
                <p class="text-muted text-center">@Copyright 2020 Neringa Petrauskaitė</p>
            </div>
        </div>
    </footer>
</div>