<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>NP Projects</title>
  <link rel="stylesheet" href="../main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5 md-12 ">
  <div class="row justify-content-md-center">
    <div class="alert alert-warning" role="alert">
      <a>Exception thrown:</a>
      <a th:text="${exception}"></a>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <a th:href="@{/}" class="btn btn-large btn-info mt-3">&larr; Home</a>
  </div>
</div>


</body>
</html>