<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Projects app</title>
    <!--<link rel="import" href="component.html">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div th:replace="fragments/fragments :: navbar">
    </div>
    <br>
    <br>
    <div class="container">
        <div class="page-header my-3">
            <h1>Engineers table</h1>
        </div>
        <div th:switch="${engineers}" class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <form class="form-inline col-md-4">
                <img src="/search2.svg" width="20" height="20" alt="">
                <input class="form-control my-3 col-md-10" id="tableSearch" type="text"
                       placeholder="Type something to search list items">
            </form>
            <div class="btn-group" role="group" aria-label="First group">
                <div sec:authorize="hasAuthority('CREATOR')" class="ml-auto">
                    <p class="my-3">
                        <a th:href="@{/engineers/showFormForAdd}" class="btn btn-info">Add engineer</a>
                    </p>
                </div>
                <div>
                    <p class="my-3">
                        <a href="/engineers/pdf"  th:href="@{/engineers/export/pdf}" class="btn btn-link">Export to PDF</a>
                    </p>
                </div>
            </div>
        </div>

        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Engineer ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th sec:authorize="hasAuthority('CREATOR')">Edit</th>
                    <th sec:authorize="hasAuthority('CREATOR')">Delete</th>
                </tr>
            </thead>
            <tbody id="myTable">
                <tr th:each="engineer: ${engineers}">
                    <td th:text="${engineer.id}">Engineer ID</td>
                    <td th:text="${engineer.firstName}">First name</td>
                    <td th:text="${engineer.lastName}">Last name</td>
                    <td th:text="${engineer.email}">Email</td>
                    <td sec:authorize="hasAuthority('CREATOR')">
                        <a th:href="@{/engineers/edit/{id}(id=${engineer.id})}" class="btn btn-sm btn-block btn-info">Edit</a>
                    </td>
                    <td sec:authorize="hasAuthority('CREATOR')">
                        <a th:href="@{/engineers/delete/{id}(id=${engineer.id})}" class="btn btn-sm btn-block btn-info" data-toggle="modal" data-target="#exampleModalCenter" th:attrappend="data-target=${engineer.id}">Delete</a>
                    </td>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" th:attrappend="id=${engineer.id}">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img src="/warning-alert.svg" width="30" height="30" alt="">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Delete alert</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <span>Are you sure you want to delete </span>
                                    <span style="color:#17a2b8;font-weight:bold;font-style:italic" th:text="${engineer.id + '. ' + engineer.firstName + ' ' + engineer.lastName}"> </span>
                                    <span> from engineers?</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a th:href="@{/engineers/delete/{id}(id=${engineer.id})}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="row">
            <br>
            <br>
        </div>
    </div>
    <div th:replace="fragments/fragments :: footer">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/search.js"></script>
</body>

</html>





