<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Add project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div th:replace="fragments/fragments :: navbar">
    </div>
    <br>
    <div class="container my-5">
        <h2 class="mb-5">Add new project</h2>
        <div class="row">
            <div class="col-md-6">
                <form action="#" th:action="@{/projects/save}" th:object="${project}" method="POST" class="needs-validation" novalidate>
                    <div class="form-row">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="form-group col-md-6">
                            <label for="name" class="col-form-label">Name</label>
                            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name" required>
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                            <div class="invalid-feedback">
                                Please provide a valid name.
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="engineer" class="col-form-label">Engineer</label>
                            <select th:field="*{engineer}" class="form-control" id="engineer" required>
                                <option value="">Select engineer</option>
                                <option th:each="engineer : ${engineers}" th:value="${engineer.id}" th:text="${engineer.id + '. ' + engineer.firstName + ' ' + engineer.lastName}">
                                </option>
                            </select>
                            <span th:if="${#fields.hasErrors('engineer')}" th:errors="*{engineer.id}" class="text-danger"></span>
                            <div class="invalid-feedback">
                                Please select an engineer.
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="creator" class="col-form-label">Creator</label>
                            <select th:field="*{creator}" class="form-control" id="creator" required>
                                <option value="">Select creator</option>
                                <option th:each="creator : ${creators}" th:value="${creator.id}" th:text="${creator.id + '. ' + creator.firstName + ' ' + creator.lastName}">
                                </option>
                            </select>
                            <span th:if="${#fields.hasErrors('creator')}" th:errors="*{creator.id}" class="text-danger"></span>
                            <div class="invalid-feedback">
                                Please select a creator.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-5">
                            <input type="submit" class="btn btn-large btn-info" value="Add project">
                            <a th:href="@{/projects/list}" class="btn btn-large btn-info">&larr; Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div th:replace="fragments/fragments :: footer">
    </div>
    <script src="/validation.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>